video {
	position: absolute;
	width: 12.8em;
	height:7.2em;
	z-index:100;
	right:0;
	bottom: 0;
	border-top-left-radius: 1em;
}


.credits {
	position: absolute;
	z-index:100;
	left:0;
	bottom: 0;
	color: rgba(255,255,255,20%);
	font-family: Candara, Calibri, sans-serif;
	text-decoration: none;
	padding-left: 0.5em;
	font-size: 80%;
}


.credits a, .credits a:link, .credits a:visited, .credits a:hover, .credits a:active {
	color: rgba(255,255,255,30%);
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
	border-bottom: rgba(255,255,255,20%) 1px dotted;
}

.credits a:hover, .credits a:active {
	color: rgba(255,255,255,100%);
	font-weight: normal;
	border-bottom: rgba(255,255,255,40%) 1px dotted;
}